seeder:
  file: ./seeder/seeder.rb
  disabled: false # Optional. Set it to true if you want to disable execution of this file
parsers:
  - page_type: listings
    file: ./parsers/listings.rb
    disabled: false